@(pageTitle: String, sectionTitle: String, sectionBody: String, imagePrefix: String, numPictures: Int)

<!DOCTYPE html>
<html>
    <head>
        <title>@pageTitle</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700">
        <script src="@routes.Assets.versioned("bootstrap/js/jquery.js")"></script>
        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/processing.js")"></script>
        <meta name="viewport" content="width =device-width, initial-scale=1">
    </head>
    <body>
        <div class="container center-block">
            <h2 class="site-title text-center">@sectionTitle</h2>

            <p class="text-center text-lowercase">
                @sectionBody
            </p>

            @for(image <- 0 until numPictures) {
            @defining("images/" + imagePrefix + "_" + image + ".jpg") { imageLink =>
                <div class="row">
                    <img class="gallery-img img-responsive img-rounded" src="@routes.Assets.versioned(imageLink)">
                </div>
                }
            }
    </body>
</html>
