@(title: String)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700">
        <script src="@routes.Assets.versioned("bootstrap/js/jquery.js")"></script>
        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/processing.js")"></script>
        <meta name="viewport" content="width =device-width, initial-scale=1">
    </head>
    <body>
        <div class="container center-block">
            <h2 class="site-title text-center">information loss</h2>

            <p class="text-center text-lowercase">
                my first foray of the semester involved utilizing a variety of photographic formats to entertain the idea of information loss. we like to think of photographs as records of the truth, and sometimes we consider them even more real than reality itself. my goal was to see how pictures of pictures and distort and obscure the source
            </p>

            @for(image <- 0 until 4) {
            @defining("images/infoloss_" + image + ".jpg") { imageLink =>
                <div class="row">
                    <img class="gallery-img img-responsive img-rounded" src="@routes.Assets.versioned(imageLink)">
                </div>
                }
            }
    </body>
</html>